/*
 * Colors
 * ========================================================================== */

/* GREYS */
$white:                 #FFFFFF !default;
$black:                 #000000 !default;
$grey-01:               #333333 !default;
$grey-02:               #4E4E4E !default;
$grey-03:               #666666 !default;
$grey-04:               #848484 !default;
$grey-05:               #999999 !default;
$grey-06:               #AAAAAA !default;
$grey-07:               #CBCBCB !default;
$grey-08:               #E6E6E6 !default;
$grey-09:               #F2F2F2 !default;

/* BLUES */
$dark-blue:             #0A3C56 !default;
$medium-blue:           #3682C3 !default;
$light-blue:            #55A2DA !default;
$grey-blue:             #6DA0B9 !default;
$pale-grey-blue:        #CFDDE2 !default;


/* NOTIFICATIONS AND ALERTS */
$error:                 #C72B2B !default;
$error-background:      #FFB0B0 !default;
$warning:               #C99652 !default;
$warning-background:    #FFEEA6 !default;
$success:               #33AD33 !default;
$success-background:    #DFF0D8 !default;