@import './colors.scss';

/*
 * Typography
 * ========================================================================== */

$font-family-base:      'Segoe UI', 'Open Sans', 'HelveticaNeue-Light', sans-serif !default;
$font-color-base:       $grey-01 !default;
$font-size-base:        13px !default;
$line-height-base:      14px !default;
