.VideoComponent{
  width: 100%;
  z-index: 1;
  &--list{
    position: absolute;
    margin: 0;
    margin-top: 120px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 30px;
    font-size: 14px;
    line-height: 18px;
    list-style-type: none;
    li {
      width: 500%;
      display: list-item;
      text-align: match-parent;
    }
    h1 {
      font-family: 'Indie Flower', 'Helvetica', 'Arial', 'sans-serif';
      line-height: 0.35;
      font-size: 4em;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      :hover {
        color: #f44336;
      }
    }
  }
}
