.HeaderComponent {
  position:fixed;
  width: 100%;
  z-index: 2;
  img {
    margin: 20px 0 20px 0;
    width: 100%;
    text-align: center;
  }
  &--AppBar {
    background-color: transparent !important;
  }
  &--Badge {
    padding: 0 !important;
  }
  a:-webkit-any-link {
    text-decoration: none;
  }
}


